# dependencies
/docs
/node_modules
/nodecore_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

nodecore_debug

/packages/*/dist
/packages/*/docs
/packages/*/src/.umi
/packages/*/src/.umi-test
/packages/*/src/.umi-production
/packages/*/package-lock.json
/packages/*/.DS_Store
/packages/*/nodecore_logs
/packages/*/node_modules
/packages/*/nodecore_modules

.DS_Store
lastTest.js
test.js
unitTest.js
nodecore_logs
logs_dump.log
.aliaser
package-lock.json

*/.umi
*/**/.umi

dumps.log
origin.server
server.registry
server.manifest
package-lock.json
yarn.lock

*/**/node_modules
*/**/dist
*/**/dumps.log
*/**/origin.server
*/**/server.registry
*/**/server.manifest
*/**/package-lock.json
*/**/yarn.lock